{% extends 'base.html' %}

{% block content %}
    <h1>{{ member.username }} profile page</h1>

    <div>
        <h3> username : {{member.username}}</h3>

        {% if request.user != member %}
            <form action="{% url "users:follow" member.pk %}" method="POST">
                {% csrf_token %}
                {% if request.user in member.followers.all %}
                    <input type="submit" value="언팔로우">
                {% else %}
                    <input type="submit" value="팔로우">
                {% endif %}
            </form>
        {% endif %}
    </div> 

    <a href="/index/">INDEX로 돌아가기</a> 

{% endblock content%}